@{
    ViewBag.Title = "ViewRoomAllocation";
}

<div class="card shadow p-1 text-white  bg-dark col-md-10 mx-auto rounded">
    @*Every title of Page will shown using following Div*@
    <div class="card-header text-center bg-light text-primary">
        <h2> View Room Allocation and Class Shedule</h2>
    </div>

    @*User will input all kind off data using this section*@
    <br />
    <div class="mt-1 col-md-12 text-xl-right">
        <a class="btn  btn-outline-info" href="~/Allocation/RoomAllocation" role="button">Allocation</a>
    </div>
    <div class="card-body">

        @using (Html.BeginForm())
        {
            @*Department list*@
            <div class="input-group mt-2 mx-auto col-md-5">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="DepartmentCode">Department</label>
                </div>
                @Html.DropDownList("DepartmentCode", new SelectList(ViewBag.Departments, "value", "text"), new { @class = "form-control" })
                @*@Html.ValidationMessageFor(x => x.DepartmentCode, null, new {@class = "error", @id = "DepartmentCode-error"})*@
            </div>

        }

    </div>


    @*Data Table*@
    <table class="table table-hover col-md-12 mx-auto">
        <thead>
            <tr>
                <th scope="col">Course Code</th>
                <th scope="col">Course Name</th>
                <th scope="col">Shedule Info</th>

            </tr>


        </thead>
        <tbody id="DataTableBody"></tbody>
    </table>
    <table class="">
        <tbody id="she">



        </tbody>
     
    </table>


</div>






@section scripts
{

    <script>
  
        $(document).ready(function() {
            $("#DepartmentCode").change(function() {
                var DepartmentCode = $("#DepartmentCode").val();
             var json = { departmentCode: DepartmentCode };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("shedulebyDepartment", "Allocation")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        $("#DataTableBody").empty();
                        $.each(data, function (key, value) {
                            var startTime = value.StartTime.substring(0, 5);
                            var endtime = value.EndTime.substring(0, 5);
                            $("#DataTableBody").append('<tr><td>' + value.CourseCode + '</td>  <td>' + value.CourseName + '</td> <td> RoomNo: ' + value.RoomNo + ', Day: ' + value.Day + ', From :' + startTime + '-' + endtime + '</td></tr>');
                        });
                    }
                });


            });
        });


    </script>
}




