@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron bg-info">
    <h1 class="text-danger">University Course & Result Management System </h1>
    <p class="lead"> The System is developed by using ASP.Net Mvc</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row bg-light">
    <div class="col-md-4 bg-warning">
        <h2>Who Done This System</h2>
        <p> <strong> Mohammad Ismail</strong>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://www.facebook.com/coxismail.bd">Contact &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Followed Roles in this System</h2>
        <ul>
            <li> User Input Validation</li>
            <li> Time Validation</li>
            <li> Date Validation</li>
            <li> Time overlaping problem Solve</li>
            <li> Already Exist Data Check</li>
            <li> Warning on User Click </li>

        </ul>        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 bg-info">
        <h2>What is Befnifit of this Project</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>